a{
    text-decoration: none;
    color: black;
}

code{
    text-align: right;
}

h1{
    font-size: 50px;
}

body{
    background-color:#FEFCF3;
}
li{
    list-style-type: none
}
ul.hr{
    margin: 0px;
    padding: 3px; 
   }
   ul.hr li {
    text-align: center;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline; 
    margin-right: 51px; 
    margin-bottom: 20px;
    border-radius: 20px;
    padding: 14px; 
    background-color: bisque;
    font-weight: bold;
   }

   ul.skills{
    margin: 0px; 
    padding: 5px; 
    padding-bottom: 10px; 
   }

   ul.skills li {
    border: 1px solid #726d68;
    color:rgb(46, 43, 43);
    text-align: center;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    display: inline; 
    margin-right: 3px; 
    margin-bottom: 20px;
    padding: 8px;
    background-color: #ccc3b9;
    font-weight: bold;
   }

.background-menu{
    border: 1px solid black;
    padding: 30px;
    background-color: skyblue;
    border-radius: 20px;
   }

   .animation li:hover{
    background-color: #F4ABC4;
    text-decoration: underline;
    font-size: 18px;
   }
   
   .animation a:hover{
    text-decoration: underline;
    font-weight: bold;
    
   }

   .center{
    text-align: center;
   }

   

   .portrait img{
    border-radius: 125px;
   }

   .portrait{
    padding-top: 30px;
    padding-bottom: 3px;
    background-color:#ccc3b9 ;
    text-align: center;

   }

   .main-text{
    padding-top: 3px;
    padding-bottom: 50px ;
    margin-right: 548px;
    margin-left: 548px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    background-color: #DBA39A;
    border-radius: 56px;
    margin-bottom:35px;
    margin-top: 35px;
    line-height: 50px;
    line-height:normal;
       }
   
   
   .main-text code{
    font-size: 12px;
    text-align: left;
    color:black;
    padding: 15px;
   }

   .footer-copyright{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    float:left;
    font-weight: bold;
   }
   
   .ul.footer{
    float:left;
    margin: 0px;
    padding: 20px;
    padding-bottom: 10px;
   }

   ul.footer li {
    text-align: center;
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    display: inline; /* Отображать как строчный элемент */
    margin-right: 50px; /* Отступ слева */

    padding: 8px; /* Поля вокруг текста */
    border-radius: 7px;
   }

   .footer-contacts{
    text-align: right;
   }
   
   .logo{
     text-align: center;
        position: relative;
        top: 1px;
        right:200px
   }
   .footer-discord{
    background-color: rgb(86,98,246);
   }
   .footer-telegram{
    background-color: skyblue;
   }

   .footer-git{
    background-color: darkgray;
   }
